@model IEnumerable<QSM_Manager.Models.modulo>

@{
    ViewBag.Title = "Matricula por grupo";
}

<h2>Matricular</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_modulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_modulo)
        </th>
        <th>
            Código
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_modulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion_modulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modulo_id)
            </td>
            <td>
                @Html.ActionLink("Matricular", "MatricularGrupo", new { grupoId = ViewBag.grupo_id, modId = item.modulo_id })
            </td>
        </tr>
    }

</table>